<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="C5B29255-2913-4A4B-B639-E3657C98F71E"
             Name="TabScore2"
             Language="1033"
             Version="1.0.0.0"
             Manufacturer="TabScore2"
             UpgradeCode="D576912E-6999-4523-A8A9-57E8376F1D51">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="TabScore2" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>

        <UIRef Id="WixUI_Minimal" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="TabScore2" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="TabScore2"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="E6B5A4F7-3A4A-4B9A-B06F-420551826A9A">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="TabScore2"
                          Description="TabScore2"
                          Target="[#TabScore2.exe]"
                          WorkingDirectory="INSTALLFOLDER"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\TabScore2" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

    </Product>
</Wix>
