<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="TabScore2"
             Language="1033"
             Version="$(Version)"
             Manufacturer="TabScore2"
             UpgradeCode="D576912E-6999-4523-A8A9-57E8376F1D51"
             Compressed="yes">
  
      <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="TabScore2" />
      </StandardDirectory>
  
      <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="TabScore2" />
      </StandardDirectory>
  
      <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
      <MediaTemplate EmbedCab="yes" />
  
      <Feature Id="ProductFeature" Title="TabScore2" Level="1">
        <ComponentGroupRef Id="ProductComponents" />
        <ComponentRef Id="ApplicationShortcut" />
        <ComponentRef Id="TabScore2Exe" />
      </Feature>
  
      <!-- The UI reference now points to the fragment below -->
      <UIRef Id="WixUI_Minimal" />
  
    </Package>
  
    <Fragment>
      <!-- This placeholder is for the harvested files -->
      <ComponentGroup Id="ProductComponents" />
  
      <!-- This defines the UI and its required property in a self-contained unit -->
      <UI Id="WixUI_Minimal">
        <UIRef Id="WixUI_Minimal" />
      </UI>
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
  
      <!-- Component definitions moved into the fragment to resolve linking errors -->
      <DirectoryRef Id="INSTALLFOLDER">
        <Component Id="TabScore2Exe" Guid="F9B94A53-B386-435E-9694-8461521C26D1" Win64="yes">
          <File Id="TabScore2.exe"
                Source="../TabScore2/publish/TabScore2.exe"
                KeyPath="yes" />
        </Component>
      </DirectoryRef>
  
      <DirectoryRef Id="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="E6B5A4F7-3A4A-4B9A-B06F-420551826A9A" Bitness="always64">
          <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="TabScore2"
                    Description="TabScore2"
                    Target="[#TabScore2.exe]"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\TabScore2" Name="installed" Type="integer"
                         Value="1" KeyPath="yes" />
        </Component>
      </DirectoryRef>
    </Fragment>
  
  </Wix>
  
  