@font-face {
    font-family: 'icomoon';
    src: url(fonts/icomoon.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clock-o:before {
    content: "\f017";
}

.icon-times-circle:before {
    content: "\f057";
}

.icon-check-circle:before {
    content: "\f058";
}

.icon-exclamation-circle:before {
    content: "\f06a";
}

.icon-arrow-circle-left:before {
    content: "\f0a8";
}

.icon-arrow-circle-right:before {
    content: "\f0a9";
}

.icon-arrow-circle-up:before {
    content: "\f0aa";
}

.icon-arrow-circle-down:before {
    content: "\f0ab";
}

.icon-history:before {
    content: "\f1da";
}

.icon-battery-full:before {
    content: "\f240";
}

.icon-battery-three-quarters:before {
    content: "\f241";
}

.icon-battery-half:before {
    content: "\f242";
}

.icon-battery-quarter:before {
    content: "\f243";
}

.icon-battery-empty:before {
    content: "\f244";
}

.icon-2x {
    font-size: 2em;
}
